
@font-face {
    font-family: Eastwood;
    src: url("Eastwood_ttf.ttf");
}
@font-face {
    font-family: Overbrushing;
    src: url("Overbrushing.otf")
}

.body{
    background-image: url("images/homepage_background.png");
}
.white-text{
    color:white;
    padding: 25px;
    font-family: "Eastwood", serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    font-size: 20px;
    text-align: center;
}
.logo img {
    width: 80px;
    padding: 1%;
    background: black;
}
.burger {
    display: none;
}
.navigation{
    display: flex;
    background: black;
    align-items: center;
    justify-content:space-evenly;
}

.grid-container{
    font-family: "Overbrushing", serif;
    font-weight: 400;
    font-style: normal;
    font-size:large;
    color: white;
}

.footer{
    background-color: black;
}

.main{
    display: flex;
    flex-direction:column;
}

.row{
    display:flex;
    flex-direction: row; 
    text-align: center;
}

.button{
    background-color: rgb(215, 157, 11);
    color: white;
    text-decoration: none;
    height: 42px;
    width: 180px;
    border-radius: 20px;
    font-family: "Eastwood", serif; 
    font-size: 18px;
    text-shadow: 1px 1px black;
    border: 2px solid rgb(215, 157, 11);
    outline: 2px solid rgb(215, 157, 11);
    outline-offset: -2px;
    transition: outline-offset 200ms ease;
    transition:0.3s;
  background-color:rgba(230, 165, 16, 0.821);
  animation: glow 5s infinite ;
  transition:0.5s;
}

@keyframes glow{
    0%{
    box-shadow: 5px 5px 20px rgb(209, 189, 124),-5px -5px 20px rgb(225, 190, 94);
  }
    50%{
    box-shadow: 5px 5px 20px rgb(7, 121, 109),-5px -5px 20px rgb(81, 224, 210)
    }
    100%{
    box-shadow: 5px 5px 20px rgb(2, 54, 56),-5px -5px 20px rgb(214, 179, 38)
    }
}
button:hover {
outline-offset: 3px;
}

.footer-row{
    justify-content: left;
    background-color: black;
    padding: 10px 50px; 
}
.footer-text{
    color: white;
    font-family: "Overbrushing";
    font-size: 20px;
}
.contact-text{
    color: white;
    font-family: "Eastwood", serif;
    font-size: 40px;
}
:any-link{
    color: white;
}
.github img {
    height: 40px;
}
.linkedIn-text img {
    height: 40px;
    padding: 0px;
}
.socials {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0px;
}
.Name{
    font-family: "Eastwood", serif;
    color: rgb(8, 60, 67);
    Font-size: 100px;
    position: absolute;
    bottom: -40px;
    left: 550px;
    text-shadow: 3px 3px black;
        ellipse 50% 35% at 50% 50%,
        #06303 transparent;
      transform: translate(-50%, -50%);
      letter-spacing: 2;
      color: #edd07a;
      text-shadow: 0 0 0.6rem #07f2da, 0 0 1.5rem #065850,
        -0.2rem 0.1rem 1rem #065850, 0.2rem 0.1rem 1rem #065850,
        0 -0.5rem 2rem #023129, 0 0.5rem 3rem #023129;
      animation: shine 2s forwards, flicker 3s infinite;
    }
    
    @keyframes blink {
      0%,
      22%,
      36%,
      75% {
        color: #edd07a;
        text-shadow: 0 0 0.6rem #07f2da, 0 0 1.5rem #065850,
          -0.2rem 0.1rem 1rem #065850, 0.2rem 0.1rem 1rem #065850,
          0 -0.5rem 2rem #d19b14, 0 0.5rem 3rem #023129;
      }
      28%,
      33% {
        color: #eeb842;
        text-shadow: none;
      }
      82%,
      97% {
        color: rgb(251, 251, 251);
        text-shadow: none;
      }
    }
    
    .flicker {
      animation: shine 2s forwards, blink 3s 2s infinite;
    }
    
    .fast-flicker {
      animation: shine 2s forwards, blink 10s 1s infinite;
    }
    
    @keyframes shine {
      0% {
        color: #063030;
        text-shadow: none;
      }
      100% {
        color: #ffffff;
        text-shadow: 0 0 0.6rem #07f2da, 0 0 1.5rem #065850,
          -0.2rem 0.1rem 1rem #065850, 0.2rem 0.1rem 1rem #065850,
          0 -0.5rem 2rem #2f3837, 0 0.5rem 3rem #2f3837;
      }
    }
    
    @keyframes flicker {
      from {
        opacity: 1;
      }
    
      4% {
        opacity: 0.9;
      }
    
      6% {
        opacity: 0.85;
      }
    
      8% {
        opacity: 0.95;
      }
    
      10% {
        opacity: 0.9;
      }
    
      11% {
        opacity: 0.922;
      }
    
      12% {
        opacity: 0.9;
      }
    
      14% {
        opacity: 0.95;
      }
    
      16% {
        opacity: 0.98;
      }
    
      17% {
        opacity: 0.9;
      }
    
      19% {
        opacity: 0.93;
      }
    
      20% {
        opacity: 0.99;
      }
    
      24% {
        opacity: 1;
      }
    
      26% {
        opacity: 0.94;
      }
    
      28% {
        opacity: 0.98;
      }
    
      37% {
        opacity: 0.93;
      }
    
      38% {
        opacity: 0.5;
      }
    
      39% {
        opacity: 0.96;
      }
    
      42% {
        opacity: 1;
      }
    
      44% {
        opacity: 0.97;
      }
    
      46% {
        opacity: 0.94;
      }
    
      56% {
        opacity: 0.9;
      }
    
      58% {
        opacity: 0.9;
      }
    
      60% {
        opacity: 0.99;
      }
    
      68% {
        opacity: 1;
      }
    
      70% {
        opacity: 0.9;
      }
    
      72% {
        opacity: 0.95;
      }
    
      93% {
        opacity: 0.93;
      }
    
      95% {
        opacity: 0.95;
      }
    
      97% {
        opacity: 0.93;
      }
    
      to {
        opacity: 1;
      }
    }

.heroImg img { 
    width: 500px; 
    padding: 80px 300px;
}

.main{
    padding: 0px 300px;
    Font-size: 40px;
    Font-family: "Overbrushing", serif;
    color: white;
}
.UXUI{
    text-shadow: 2px 2px black;
}
.ER-Quote{
    padding: 25px 0px;
    font-size: 25px;
    text-shadow: 2px 2px black;
}
.ER{
    padding: 0px 0px;
    font-size: 25px;
    text-shadow: 2px 2px black;
}

.flex-container2{
    Font-family: "eastwood", serif;
    color: white;
    align-items: center;
    font-size: 100px;
    height: 150px;
    padding: 100px 600px;
    width: 800px;
    text-shadow: 2px 2px black;
}

.MyWorkBackground{
    background-image: url("images/wooden.png");
    height: 900px;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: "Overbrushing", sans-serif;
    display:flex;
    flex-direction: row; 
    justify-content:space-evenly;
}
.ArtPulse{
    font-size: 18px;
    text-align: center;
    padding: 275px 50px;
    text-shadow: 2px 2px black;
    height: auto;
}
.CWFRedesign{
    font-size: 22px;
    text-align: center;
    padding: 100px;
    text-shadow: 2px 2px black;
}

.EscapeRoute{
    font-size: 30px;
    text-align: center;
    padding: 250px 100px 100px 100px;
    text-shadow: 2px 2px black;
}
.About{
    text-align: center;
    color: white;
    font-size: 30px;
    width: 900px;
    padding: 50px 420px;
    text-shadow: 2px 2px black;
    font-family: "Overbrushing";
}
.Sheis{
    text-align: center;
    color: white;
    font-size: 30px;
    width: 900px;
    padding: 20px 0px 200px 420px;
    text-shadow: 2px 2px black;
    font-family: Overbrushing;
}

.Flex-Container{
    background-image: url("images/cowboycrow.png");
    background-position: center;
    display: flex;
    flex-direction: row;
    Font-size: 20px;
    Font-family: "Overbrushing";
    color: white;
    justify-content: center;
    height: 600px;
}
.Column1{
    Width: 50%;
    padding: 150px 60px 30px 400px;
    text-align: center;
    text-shadow: 2px 2px black;
}
.Column2{
    Width: 50%;
    padding: 140px 300px 20px 0px;
    text-align: center;
    text-shadow: 2px 2px black;
}
.Accomplishments{
    color:white;
    font-size: 40px;
    font-family: "Eastwood", serif;
    text-shadow: 2px 2px black;
}
.Skills{
    color:white;
    font-size: 40px;
    font-family: "Eastwood", serif;
    text-shadow: 2px 2px black;
}

@media screen and (max-width: 600px) { 
   .navigation{
        height: 75px;
   } 
    .white-text{
        display: none;
    }
    .logo img {
        padding: 10px 0px 0px 50px;
    }
    .burger {
        display:flex;
    }
    
    .heroImg img { 
        width: 70%; 
        height: auto; 
        padding: 30px 70px;
    } 
    .Name{
        font-size: 60px;
        position: absolute;
        top: 655px;
        left: 250px;
        width: 400px;
    }
    .UXUI{
        font-size: 30px;
    }
    .main{
        padding: 20px;
        text-align: center;
    }
    .About{
        padding: 40px;
        font-size: 20px;
        width: 400px;
    }
    .Sheis{
        padding: 40px;
        font-size: 20px;
        width: 400px;
    }
     .Flex-Container{
        display: flex;
        flex-direction: column;
        padding: 80px 40px 50px 40px;
        height: 900px;
     }
     .Column1{
        padding: 0px 0px 100px 30px;
        width: 350px;
     }
     .Column2{
        padding: 0px 40px 10px 10px;
        width: 400px;
     }
     .flex-container2{
        padding: 80px 60px;
        font-size: 80px;
        height: 100px;
     }
     .MyWorkBackground{
        height: 2000px;
        display: flex;
        flex-direction: column;
     }
     .ArtPulse{
        padding: 0px 0px;
     }
     .CWFRedesign{
        padding: 10px;
     }
     .EscapeRoute{
        padding: 0px;
     }
     .contact-text {
        width: 500px;
     }
 }
   
